@using Licenta_Ecommerce_Mongo.Authentication;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>Ecommerce</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudAppBar Elevation="1" Class=" shades white">
            <MudText Typo="Typo.h5" Class="ml-16" Style="@($"color:{Colors.Shades.White};")"><a href="/">Magazin</a></MudText>
            <MudGrid Justify="Justify.FlexStart">
                <MudItem>
                    <MudTextField Class="ml-4" @bind-Value="TextValue" Label="Search by tag" AdornmentColor="Color.Primary" Variant="Variant.Outlined" Margin="Margin.Dense" Style="width: 300px" />
                </MudItem>
                <MudItem>
                    <MudButton Class="mt-1" Variant="Variant.Filled" Color="Color.Primary" @onclick="Search">Search</MudButton>
                </MudItem>
            </MudGrid>
             <AuthorizeView>
                <Authorized>
                    <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Style="@($"color:{Colors.Red.Default};")" Class="mx-1" Href="favorites" />
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" Style="@($"color:{Colors.Shades.Black};")" Class="mx-1 mr-5" Href="cart" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Logout" Class="mr-16" Href="javascript:void(0)">Logout</MudButton>
                </Authorized>
                <NotAuthorized>
                    <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Style="@($"color:{Colors.Red.Default};")" Class="mx-1" Href="favorites" />
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" Style="@($"color:{Colors.Shades.Black};")" Class="mx-1 mr-5" Href="cart" />

                    <MudButton Variant="Variant.Filled" Color="Color.Info" Class="mx-3" Href="/login">LogIn</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-16" Href="/signup">SignUp</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>
        <NavMenu />
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
    public string TextValue { get; set; } = string.Empty;
    public async Task Search()
    {
        navManager.NavigateTo($"/itemByTag/{TextValue}", true);
    }
}